* {
    margin: 0;
    padding: 0;
    color: #F7F5EB;
  }
  
  body {
    background-color: #042A38;
    text-align: center
  }

  h1,.container{
    margin-top: 2rem;
  }
  
  .container {
    height: 70vh;
    display : flex;
    justify-content: center;
    align-items: center;
  }
  
  .main {
    height: 70vmin;
    width: 60vmin;
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  
  }
  
  .box {
    height : 16vmin;
    width: 16vmin;
    font-size : 8vmin;
    border-radius: 1rem;
    border: none;
    box-shadow : 0 0 1rem rgba(0,0,0,0.3);
    cursor: pointer;
    color: #B32442;
    background-color: #fff;
  }
 

  .btn {
    margin-top: 2.25rem;
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #000;    
    border-radius: 0.75rem;
    border: none;
    cursor: pointer;
    
  }
  .new-game:hover, .reset-game:hover{
    background: #285430;
  }
  
  .result {
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  .hide {
    display: none;
  }
  